@import url(style.css);

.result-box, .Error-box{
    width: 60vw;
    padding: 20px;
    border-radius: 15px;
    background-color:#212121;
}

h1, h2{
    background-color: #e9d7b6;
    padding: 15px;
    width: 48vw;
    border-radius: 10px;
    margin: auto; 
    margin-top: 50px;
}

h2{
    margin-bottom: 200px;
}

p{
    background-color: #e9d7b6;
    padding: 15px;
    border-radius: 15px;
    font-size: 160%;
    width: 23vw;
}

#Back1, #Back2{
    background-color: #fff;
    animation: lightVibrantCycle 5s 0s infinite ease-in-out;
    padding: 10px;
    border-radius: 10px;
    font-size: 120%;
    width: 23vw;
}


body{
    animation: pastelGlowCycle 5s 0s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: pastelGlowCycle 20s infinite;
    transition: background-color 1s;
}
